{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'newcustomer' %}">Create Customer</a>
			<table class="table table-sm">
				<tr>
					<th>Show info</th>
					<th>Customer</th>
					<th>Email</th>
				</tr>
				{% for i in customers %}
						<tr>
							<td><a class="btn btn-outline-info" href="{% url 'customer' i.id %}">View</a></td>
							<td>{{ i.name }}</td>
							<td>{{ i.email }}</td>
							
						</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'new_order' %}">Create Order</a>
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
					{% for i in orders %}
						<tr>
							<td>{{ i.customer }}</td>
							<td>{{ i.date_created }}</td>
							<td>{{ i.status }}</td>
							<td><a class="btn btn-outline-info" href="{% url 'updateorder' i.id %}"> Update </a></td>
							<td><a class="btn btn-outline-danger" href="{% url 'deleteorder' i.id %}"> Delete </a></td>
							
						</tr>
				    {% endfor %}
		
			</table>
		</div>
	</div>

</div>

{% endblock %}