{%  extends 'accounts/main.html' %}

{% block content %}

<h2>{{ cus }}</h2>
<h2>{{ or }}</h2>

<br><br>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p  }}
    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock content %}