<style>
    .hlw{
        color:#fff;
        margin-right:20px;
        font-size:18px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">E-store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Dashboard<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Produts</a>
            </li>
        
      </ul>
    </div>

    <span class="hlw">Hello, {{ request.user }} </span>
    <span>  <a  class="hlw" href="{% url 'logout' %}">Logout</a> </span>

  </nav>